
.contain{
    display: grid;
    justify-content: space-between;
    background-color: black;
    padding: 20px
}
.box1{
    display:;
    gap: 50px;
}
.text1{
    
  color: rgb(255, 255, 255);
}
.text2{
    color: white;
}