*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
}
.container{
    max-width: 100%;
    width: autopx;
    height: 100px;
    margin: 0;
    padding: 0;
}
.barmenu{
    width: 100%;
    height: 100%;
    background-color:#14171A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.barmenu ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 40px;
}
.barmenu ul li a{
    color: white;
    text-decoration: none;
    display: contents; 
    font-size: 24px; 
}
.barmenu a:hover{
    color: darkred;
}
.logo img{
    width: 20%;
    height: 100%;
    
}
.head{
    background-color: black;
    width: auto;
    display: flex;
    justify-content: center;
}
.box1{
    width: 45%;
    display: flex;
    justify-content: center;
     align-items: center;
}
.box1 img{
    width: 500px;
    border-radius: 60%;
    margin: 30px;
    box-sizing: border-box; 
}
.box1 img:hover{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(255, 12, 12) 0px -12px 30px, rgb(255, 0, 0) 0px 4px 6px, rgb(255, 2, 2) 0px 12px 13px, rgb(255, 0, 0) 0px -3px 5px;
}
.text{
    width: 50%;
    margin: 225px;
    text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(to bottom right, #ffffff, #131414); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
   position: relative;
}
.text span{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
}
.text p{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 32px;
    margin: 10px;
}
.text h1{
    color: aliceblue;
     font-size:60px;
     
}
.text h2{
    color: white;
    font-size: 50px;
}
.head2{
    width: auto;
    background-color: black;
}
.box2{
    width: 150px;
    background-color: #2b2929;
    border-radius: 15px;
    margin: auto;  
}
.text2 h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5%;
    font-size: 40px;
}
.boss{
    width: 100%;
   
    /* background-color:blue; */
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.box3{
    width: 600px;

    text-align: center;
    color: white;
}
.text3 h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
}
.box4{
    width: 600px;
   
    text-align: center;
    color: white;
}
.text4 h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
}
.boximg{
    width: 100px;
    background-color: red;
   
    display: flex;
    overflow: hidden;
}
.img1{
    overflow: hidden;
    border-radius: 50%;
}
.img1 img{
    object-fit: cover;
}
.text4 span{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
  color: rgb(165, 161, 161);
}
.picture img{
   width: 100%;
  margin: 0;
  padding-bottom: 100px;
}
.text3 span{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  color: rgb(165, 161, 161);
}
.head3{
  width:100%;  
  height: 900px;
  background-color: black;
}
.head3 h1{
  background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5%;
    font-size: 40px;
}  
.boxskill{
    width: 160px;
   
    background-color: #333030;
    border-radius: 15px;
    margin: auto;
}
.boxskill h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5%;
    font-size: 40px;
}
.controller1{
    width: 50%;
    height: 700px;
    margin: 0;

}
.boxtext1{
    width: 280px;
    height: 75px;
    background-color: #333030;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxtext1 h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
}
.boxtext2{
    width: 200px;
   
    background-color: #333030;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxtext2 h1{
    background: linear-gradient(to bottom right, #F8F8F8, #35353F); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
}
.theimage{
    width:90px;
    
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 25px;
    margin-left: 40px;
}
.theboss{
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding-top: 40px;
}
.controller2{
    width: 50%;
   
    margin: 0;
    /* background-color: white; */
}
.textboss{
    margin-top: 90px;
    color:rgb(165, 161, 161);
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 24px;
}
.soft2{
    margin-top: 70px;
    text-align: center;
}
.head4{
    width: 100%;
    background-color: rgb(0, 0, 0);
}


.theimage{
    width: 45%;
    height:40px;
    padding-left: 30px;
}

.bartext{
   background-color: #2e2e2e;
   width: 280px;
   height: 75px;
   margin: auto;
   border-radius: 50px;
}
.bartext h1{
    background: linear-gradient(to bottom right, #eee2e2, #45454b); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
   
} 
.boxpic{
    height: 400px;
    width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.boxpic img{
    height: 300px;
}
.infotext{
    color:rgb(184, 178, 178);
    justify-content: space-between;
    display: flex;
    gap: 0;
    width: 62%;
    margin: auto;
    text-align: center;
    font-size: medium;
    padding: 0;
    }
    .certifi{
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 50px;
    }
    .certifi img{
        
        width: 500px;
        justify-content: center;
        display: flex;
        align-items: center;  
        padding-bottom: 40px;
    }
    .infotext2{
        text-align: center;
    }
    .infotext2 h3{
        margin-bottom: 60px;
        color: rgb(184, 178, 178);
    } 
.footer{
    
    background-color: rgb(34, 33, 33);
    margin: 0%;
}
.textcontact{
    /* background-color: blue; */
    text-align: center;
    height: 300px;
   

}
.textcontact h3{
    font-size:40px;
    padding-top: 120px;
    color: rgb(184, 178, 178);;
     font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.searchbar{
    width:300px ;
    height: 70px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 70px;
    border: 5px solid rgb(175, 175, 175);

}
.searchbar img{
    width: 20px;
    margin-left: 230px;
    margin-top: 20px;
    /* display: flex;
    justify-content:end; */
    /* background-color: blue; */
    box-sizing:border-box;
}
.baricon{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}
.moreinfo{
    width: 10%;
    margin-top: 100px;
    display: inline-block;
    gap: 50px;
    padding-bottom: 30px;
}
.moreinfo span{
    color: rgb(175, 175, 175);
}

.address{
    background-color: rgb(0, 0, 0);
     height: 150px;
    
}
.address span{
    margin-top: 50px;
    justify-content: end;
    display: flex;
    font-size: 24px;
    color: #cecccc;
}
.input-group{
    justify-content: center;
    display: flex;
    width: 100%;
}








    



